@* @model IEnumerable<tallerbiblioteca.Models.Pginacion<Ejemplar>> *@
    @model Paginacion<Ejemplar>

@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script> 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/js/bootstrap-select.min.js"></script>

 <h1 class="fw-bold fs-1 text-center ">Ejemplares</h1>
<div class="row">
    <div class="col-md-4 m-2">
       
        <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalRegistrar">
            Registrar
        </button>

    </div>
    <div class="modal fade" id="modalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar ejemplar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                        <form asp-controller="Ejemplar" id="formCrearEjemplar" asp-action="CreateFromLibros" method="post" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="control-label required">Libro</label>
                                <select name="Id_libro" class ="form-control" style="width: 50%" id="selectLibros" asp-items="ViewBag.libros"></select>
                         
                            </div>
                            <div class="form-group mt-2">
                                <label asp-for="LibroViewModel.Ejemplar.Isbn_libro" class="control-label required"></label> 
                              
                                <input type="number" class="form-control mb-2" style=" width:50%"  name="Isbn_ejemplar" id="Isbn_ejemplar" >
                               
                                 <span id="isbnError" class="text-danger" style="display: none;">No puedes registrar un Ejemplar sin el isbn</span>
                            </div>
                            
                            <div class="form-group">
                                <button class="button mt-2 mb-2" style="display:none;" id="botonEnviar" type="submit">Registrar</button>
                            </div>
                        </form>
            </div>
           
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-12">
        <form asp-action="Index"> 
            <p class="d-flex">
               <input type="text" name="busqueda" placeholder="Busqueda" class="form-control"/>
                <button type="submit" class="ms-3 mt-1 button pe-5" value="Buscar">Buscar</button>
            </p>
        </form>
    </div>
   
</div>
<div class="row">
    <table >
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Id_libro
                </th>
                <th>
                    Nombre libro
                </th>
                <th>
                    Isbn
                </th>
                <th>
                    Estado
                </th>
               <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var ejemplar in Model.Items) {
            <tr>
                <td>
                   @ejemplar.Id
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Id_libro)
                </td>
                    <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Libro.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.Isbn_libro)
                </td>
                <td>
                    @Html.DisplayFor(modelejemplar => ejemplar.EstadoEjemplar) 
                    
                </td>
                <td>
                    @if(ejemplar.EstadoEjemplar!="EN PRESTAMO" && ejemplar.EstadoEjemplar!="EN PETICION" ){
                        <label class="toggle-switch">
                            <input type="checkbox" class="chkCambiarEjemplar"  @(ejemplar.EstadoEjemplar == "DISPONIBLE" ? "checked" : "") data-ejemplar-id="@ejemplar.Id" />
                            <span class="slider"></span>
                        </label>
                    }

                        
                </td>
            </tr>
    }
        </tbody>
    </table>
  
</div>

<form asp-action="Edit" method="post" id="formCambiarEstadoEjemplar">
    <input type="hidden" id="ejemplarId" name="Id" value="">                                       
        @* <button class="mt-2 boton medium" type="submit">Editar</button> *@
</form>

   <div class="row">
               <div class="pagination p1">
                    <ul>
                         <a style="width:80px;" class="page-link text-dark me-1" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
                        <a href="?pagina=@(Model.Numero_pagina - 1)&busqueda=@Context.Request.Query["busqueda"]"><li><<</li></a>
                        @for (var i = 1; i <= Model.TotalItems; i++)
                        {
                            
                            <a class=" me-1 @(Model.Numero_pagina == i ? " is-active" : "") " href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>
                            
                        }
                         @if (Model.Numero_pagina < Model.TotalItems)
                        {
                           
                                <a href="?pagina=@(Model.Numero_pagina + 1)&busqueda=@Context.Request.Query["busqueda"]">>></a>
                           
                        }
                        <a class="ms-1" href="?pagina=@Model.TotalItems&busqueda=@Context.Request.Query["busqueda"]"><li>Fin</li></a>
                    </ul>
                </div>
            </div>

     @section Scripts{
        <script>
            function sendForm(e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Quieres eliminar este ejemplar?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'SI'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        var formId = e.target.id;
                        var formElement = document.querySelector("#" + formId);
                        if (formElement) {
                            formElement.submit();
                        } else {
                            console.error("El formulario con ID " + formId + " no se encontró en el DOM.");
                        }
                    }
                })
            }
        </script>

        <script>
        $(document).ready(function () {
            $("#detallesEjemplar").click(function () {
                // Muestra el modal al hacer clic en el ícono del ojo
                $("#modalDetallesEjemplar").modal("show");
            });
        });
        </script>

        <script src="~/js/select2.min.js" asp-append-version="true"></script>

        <script>
            $(document).ready(function(){
                $('#selectLibros').select2({
                    dropdownParent: $('#modalRegistrar')
                });
            })

        </script>

        <script>
        document.getElementById('Isbn_ejemplar').addEventListener('input', function() {
            var isbnInput = document.getElementById('Isbn_ejemplar');
            var isbnError = document.getElementById('isbnError');
            var submitButton = document.getElementById('botonEnviar');

            if (isbnInput.value.trim() === "") {
                // Si el input está vacío, oculta el botón y muestra el mensaje de error
                submitButton.style.display = 'none';
                isbnError.style.display = 'block';
            } else if (isbnInput.value.trim().length <10) {
               // Si el input no está vacío, pero no contiene mas de 10 caracteres oculta el botón y muestra el mensaje de error
               isbnError.textContent = "Debe contener mas de 10 caracteres";
               isbnError.style.display = 'block';
            } else{
                  // Si el input no está vacío, muestra el botón y oculta el mensaje de error
                submitButton.style.display = 'block';
                isbnError.style.display = 'none';
            }
        });
        </script>
        @{
            var Mensaje =  TempData["Mensaje"] as string;
            if (Mensaje!=null){
                var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
                <script>
                    const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                    const icono = "@mensaje.Icono";
                    MostrarMensajeUsuarios(icono, cuerpo);
                </script>
            }
        }
    }

