@using System.Security.Claims;
@model ReservaModel; 
<style>
    .modal-content {
        background-color: #fff;
        padding: 20px;
    }

</style>
<h1 class="fw-bold fs-1 text-center" >Reservas</h1>
@if (User.FindFirst(ClaimTypes.Role)?.Value == "1" || User.FindFirst(ClaimTypes.Role)?.Value == "3")
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12  d-flex align-items-center">
            <button type="button" class="button ms-2"  data-bs-toggle="modal" data-bs-target="#miModal">
               Registrar
            </button>
            <a class="Eliminar ms-2" asp-action="Rechazadas">Rechazadas</a>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <form asp-action="Index" class="row">
                <div class="col-md-4 mt-3">
                   
                    <input class="form-control mr-2" type="text" id="buscar" name="buscar" placeholder="Buscar">
                </div>
                <div class="col-md-4 mt-3">
                    
                    <input class="form-control" type="date" id="fecha" name="fecha">
                </div>
                <div class="col-md-2 mt-2">
                    <button class="button" type="submit">Buscar</button>
                </div>
            </form>
        </div>

        <div class="col-lg-4 col-md-4 col-17 mt-2 d-flex justify-content-end">
            <form asp-controller="/Pdf" asp-action="GenerarPdfReservas" method="post" class="mt-2">
                <button class="descar" type="submit">
                    <span class="button__text">Pdf</span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg">
                            <path d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z"></path>
                            <path d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z"></path>
                            <path d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z"></path>
                        </svg>
                    </span>
                </button>
            </form>
        </div>
        
    </div>
}
        <div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrar reserva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body align-items-center">
                        <form asp-action="Createad" asp-controller="Reservas" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="reserva.IdEjemplar" class="control-label required">Ejemplar</label>
                        <select asp-for="reserva.IdEjemplar" class="form-control" style="width: 100%" id="selectEjemplares" asp-items="ViewBag.Ejemplares" data-dropdown-parent="#miModal"></select>
                                <span asp-validation-for="reserva.IdEjemplar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="reserva.IdUsuario" class="control-label required">Usuario</label>
                        <select asp-for="reserva.IdUsuario" class="form-control" style="width: 100%" id="selectUsuarios" asp-items="ViewBag.Usuarios " data-dropdown-parent=" #miModal"></select>
                                <span asp-validation-for="reserva.IdUsuario" class="text-danger"></span>
                            </div>
                            
                            <div class="mt-3 text-center" style="display: flex; justify-content: center;">
                                <button class="button mt-2" style="margin-right: 10px;" value="Crear">Crear</button>
                                <a class="Eliminar mt-2" style="align-self: center;" asp-action="Index">Volver</a>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>    
<span class="input-border"></span>
<table class="mt-2">
    <thead>
        <tr>
            <th>Isbn</th>
            <th>Ejemplar</th>
            <th>
               Usuario
            </th>
            <th>
                Fecha
            </th>
            <th>
                Estado
            </th>
            @if (User.FindFirst(ClaimTypes.Role)?.Value == "1" )
    {
            <th>Acción</th>
    }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Paginacion.Items) {
        <tr>
            <td>
                @Html.DisplayFor(model=> item.Ejemplar.Isbn_libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ejemplar.Libro.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Name) @Html.DisplayFor(modelItem => item.Usuario.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReserva)
            </td>
                <td>
                    @{
                        string color;
                        if (item.Estado == "RECHAZADA")
                        {
                            color = "red";
                        }
                        else
                        {
                            color = "green";
                        }
                    }
                    <span style="color: @color;">@item.Estado</span>
                </td>
                
                    @if (User.FindFirst(ClaimTypes.Role)?.Value == "1")
                    {
                        @if (item.Estado == "ACTIVA")
                        {
                        <td>
                            <form id="myForm-@item.Id" asp-controller="Peticiones" asp-action="Create" method="post">
                                <input type="hidden" name="Id_ejemplar" value="@item.IdEjemplar">
                                <input type="hidden" name="IdReserva" value="@item.Id">
                                <input type="hidden" name="motivo" value="Reservar Libro">
                                <input type="hidden" name="Id_usuario" value="@item.IdUsuario">
                                <button class="fa-solid fa-circle-check fa-2xl" style="color: #1e6042; cursor: pointer;"></button>
                                <button type="button" class="fa-solid fa-xmark fa-2xl" style="color: #fa0000;" data-bs-toggle="modal" data-bs-target="#miModal-@item.Id">
                                </button>
                                @*<a asp-action="Delete" class="fa-solid fa-xmark fa-2xl" style="color: #fa0000;" asp-route-id="@item.Id"></a>*@
                                </form>

                        </td>
                            }
                            else
                            {
                                <td>
                            <p>No hay acciones disponibles</p>
                                </td>
                                
                            }
                    <div class="modal fade" id="miModal-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Rechazar reserva</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                    <h3>¿Seguro deseas rechazar esta reserva?</h3>
                                    <div>
                                        <hr />
                                        <dl class="row">
                                            <dt class="col-sm-2">
                                                <p>Ejemplar</p>
                                            </dt>
                                            <dd class="col-sm-10">
                                                @item.Ejemplar.Libro.Nombre
                                            </dd>
                                            <dt class="col-sm-2">
                                                <p>Usuario</p>
                                            </dt>
                                            <dd class="col-sm-10">
                                                @item.Usuario.Name,@item.Usuario.Apellido
                                            </dd>
                                            <dt class="col-sm-2">
                                                <p>Fecha</p>
                                            </dt>
                                            <dd class="col-sm-10">
                                                @item.FechaReserva
                                            </dd>
                                            <div class="text-center" style="display: flex; justify-content: center;">
                                            <form asp-controller="Reservas"asp-action="Delete" method="post"  class="mt-2">
                                                    <button class="Eliminar " style="margin-right: 10px;" asp-action="Delete" asp-route-id="@item.Id" type="submit">Rechazar</button>
                                                <a class="Eliminar" asp-action="Index">Volver</a>
                                            </form>
                                            </div>
                                    </div>
                                </div>
                                </div>
                                <div class="modal-footer">
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                    }

                
        </tr>
}
    </tbody>
</table>
<div class="pagination p1">
    <ul>
        <a style="width:80px;" class="page-link text-dark me-1" href="?pagina=1&busqueda=@Context.Request.Query["busqueda"]">Primera</a>
        <a href="?pagina=@(Model.Paginacion.Numero_pagina - 1)&busqueda=@Context.Request.Query["busqueda"]">
        <li><<</li></a>
        @for (var i = 1; i <= Model.Paginacion.TotalItems; i++)
        {

            <a class=" me-1 @(Model.Paginacion.Numero_pagina == i ? " is-active" : "") " href="?pagina=@i&busqueda=@Context.Request.Query["busqueda"]">@i</a>

        }
        @if (Model.Paginacion.Numero_pagina < Model.Paginacion.TotalItems)
        {

            <a href="?pagina=@(Model.Paginacion.Numero_pagina+ 1)&busqueda=@Context.Request.Query["busqueda"]">>></a>

        }
        <a class="ms-1" href="?pagina=@Model.Paginacion.TotalItems&busqueda=@Context.Request.Query["busqueda"]">
        <li>Fin</li></a>
    </ul>
</div>
@if (TempData["ReservaPentiende"] != null && TempData["ReservaPentiende"].ToString() == "True")
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'error',
                title: 'Error al reservar',
                text: 'Ya tienes una reserva pendiente, no puedes tener dos',
                showConfirmButton: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '@Url.Action("Catalog", "Libros")';  // Reemplaza 'NombreController' con el nombre real de tu controlador
                }
            });
        });
    </script>
}
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        var Mensaje = TempData["Mensaje"] as string;
        if (Mensaje != null)
        {
            var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
            <script>
                console.log("se va mostrar");

                const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                const icono = "@mensaje.Icono";
                MostrarMensajeUsuarios(icono, cuerpo);
            </script>

        }
    }
    {
        <script src="~/js/select2.min.js" asp-append-version="true"></script>
        <script>
            $(document).ready(function () {
                $('#selectEjemplares').select2();
            })
            $(document).ready(function () {
                $('#selectUsuarios').select2();
            })
        </script>    
        <script>
            const myForm = document.getElementById("myForm");
            const triggerElement = document.querySelector(".fa-circle-check");

            triggerElement.addEventListener("click", () => {
                myForm.submit();
            });

        </script>
    }
    }