@model tallerbiblioteca.Models.ConfiguracionViewModel;


@{
    ViewData["Title"] = "Configuracion";
}

<form id="formCambiarCampoPermiso" method="post" asp-controller="Configuracion" asp-action="Edit">
    <input type="hidden" id="configId" name="Id" value="">
</form>

<div class="container-fluid">
    <h1 class="fw-bold fs-1 text-center ">Configuración</h1>
    <div class="row">

        @* <div class="col-md-3">

        <a class="button"   asp-action="UsuariosInactivos">Usuarios Inactivos</a>

        </div> *@
        <div class="col-md-3 mb-2">

            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Importar Matriculados
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Importar Matriculados</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            @using (Html.BeginForm("SubirArchivoMartriculados", "Configuracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <h6>Consideraciones</h6>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item fs-4">El archivo a subir debe ser un archivo csv delimitado por ";"</li>
                                    <li class="list-group-item fs-4">El archivo debe contener 3 columnas </li>
                                    <li class="list-group-item fs-4">la primera columa debe ser numerica (Numero documento)</li>
                                    <li class="list-group-item fs-4">la segunda columna debe ser textual la cual contenga los nombres del estudiante</li>
                                    <li class="list-group-item fs-4">la tercera columna debe ser textual la cual contenga los apellidos del estudiante</li>
                                </ul>
                                <p class="fs-4 fw-bold"> Deberia quedar algo asi: </p>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12 m-1">
                                        <p class="fs-4 fw-bold"> Vista Excel </p>
                                        <img src="~/Images/EJEMPLOCSV2.PNG" alt="No se pudo cargar el archivo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12 m-1">
                                        <p class="fs-4 fw-bold"> Vista Block de notas </p>
                                        <img src="~/Images/EJEMPLOCSV.PNG" alt="No se puedo cargar el archivo">
                                    </div>


                                </div>

                                @if (TempData["MensajeErrorCsv"] != null)
                                {
                                    <div class="alert alert-@(TempData["Icono"])">
                                        @(TempData["MensajeErrorCsv"])
                                    </div>


                                }
                                <label class="fw-bold">Importar Matriculados </label>
                                <input type="file" class="form-select" name="file" />
                                <div class="form-group">  <input type="submit" class="button mt-2 text-dark" value="Subir Archivo" /> </div>

                            }

                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <form method="post" id="formBackup" asp-controller="Backup" asp-action="DownloadBackup">
                <button class="button" name="descarga" value="true" type="submit">Realizar Copia de Seguridad</button>
            </form>
        </div>
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-@(TempData["Icono"])">
                @(TempData["Mensaje"])
            </div>


        }
        <div class="col-md-12 col-12 col-lg-12 bg-success mt-2">
            <nav class="nav nav-pills flex-column flex-sm-row text-light">
                <a class="flex-sm-fill text-sm-center nav-link text-light fs-4" id="admin-tab-link" href="#">Administrador</a>
                <a class="flex-sm-fill text-sm-center nav-link text-light fs-4" id="user-tab" href="#">Usuario</a>
                <a class="flex-sm-fill text-sm-center nav-link text-light fs-4" id="alfa-tab" href="#">Alfabetizador</a>
            </nav>
        </div>

    </div>


    <div class="row text-center p-1">

        @foreach (var rol in Model.Roles)
        {
            @* <div class="col-12  mb-4"></div> *@
            @switch (rol.Id)
            {
                case 1:
                    <div class="container p-2" style="max-height: 700px; overflow-y: auto;">
                        <div id="admin-content" class="content" style="display: none;">
                            <h3>@rol.Nombre</h3>
                            <button class="button botonAbrirModal" type="button" data-modal-index="@rol.Id">
                                Registrar
                            </button>
                            @if (Model.ConfiguracionesAdmin != null)
                            {
                                @foreach (var config in Model.ConfiguracionesAdmin)
                                {
                                    <div class="row mb-2 border-bottom border-dark">
                                        <div class="col-12 col-md-3 col-sm-3 col-xs-12 mb-2">
                                            <p class="fs-4">@config.Permiso.Nombre</p>
                                        </div>
                                        <div class="col-12 col-md-3 col-sm-3 col-xs-12 mb-2 d-flex justify-content-center">

                                            <label class="toggle-switch">
                                                <input type="checkbox" class="chkCambiarPermiso" @(config.Estado == "ACTIVO" ? "checked" : "") data-config-id="@config.Id" />
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-3 col-sm-3 col-xs-12 mb-2">
                                            <p class="fs-4" style="color: @(config.Estado == "INACTIVO" ? "red" : "green")">@config.Estado</p>
                                        </div>
                                        <div class="col-12 col-md-3 col-sm-3 col-xs-12 mb-2 d-flex justify-content-center">
                                            <form asp-action="Delete" asp-route-id="@config.Id" id="form_@config.Id" method="post" onsubmit="sendFormDelete(event, @config.Id)">
                                                @Html.AntiForgeryToken()
                                                <button type="submit">
                                                    <i class="fa-solid fa-trash fa-2xl" style="color: #827e7e;"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    break;
                case 2:
                    <div class="container p-2" style="max-height: 900px; overflow-y: auto;">
                        <div id="user-content" class="content" style="display: none;">
                            <h3>@rol.Nombre</h3>
                            <button class="button botonAbrirModal" type="button" data-modal-index="@rol.Id">
                                Registrar
                            </button>
                            @if (Model.ConfiguracionesUsuario != null)
                            {
                                @foreach (var config in Model.ConfiguracionesUsuario)
                                {
                                    <div class="row mb-2 border-bottom border-dark">

                                        <div class="col-12 col-md-3">
                                            <p class="fs-4">@config.Permiso.Nombre</p>
                                        </div>

                                        <div class="col-12 col-md-3 sm-4 mb-2">

                                            <label class="toggle-switch">
                                                <input type="checkbox" class="chkCambiarPermiso" @(config.Estado == "ACTIVO" ? "checked" : "") data-config-id="@config.Id" />
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <p class="fs-4" style="color: @(config.Estado == "INACTIVO" ? "red" : "green")">@config.Estado</p>
                                        </div>
                                        <div class="col-12 col-md-3 col-sm-3 col-xs-12 mb-2 d-flex justify-content-center">
                                            <form asp-action="Delete" asp-route-id="@config.Id" method="post" id="form_@config.Id" onsubmit="sendFormDelete(event, @config.Id)">
                                                @Html.AntiForgeryToken()
                                                <button type="submit">
                                                    <i class="fa-solid fa-trash fa-2xl" style="color: #827e7e ;"></i>
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    break;
                case 3:
                    <div class="container p-2" style="max-height: 700px; overflow-y: auto;">
                        <div id="alfa-content" class="content alfabetizador" style="display: none;">

                            <h3>@rol.Nombre</h3>
                            <button class="button botonAbrirModal" type="button" data-modal-index="@rol.Id">
                                Registrar
                            </button>
                            @if (Model.ConfiguracionesAlfabetizador != null)
                            {
                                @foreach (var config in Model.ConfiguracionesAlfabetizador)
                                {
                                    <div class="row mb-2 border-bottom border-dark">

                                        <div class="col-12 col-md-3">
                                            <p class="fs-4">@config.Permiso.Nombre</p>
                                        </div>

                                        <div class="col-12 col-md-3 sm-4 mb-2">
                                            <label class="toggle-switch">
                                                <input type="checkbox" class="chkCambiarPermiso" @(config.Estado == "ACTIVO" ? "checked" : "") data-config-id="@config.Id" />
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-3 ms-n4">
                                            <p class="fs-4" style="color: @(config.Estado == "INACTIVO" ? "red" : "green")">@config.Estado</p>
                                        </div>


                                        <div class="col-12 col-md-3 col-sm-3 col-xs-12 mb-2 d-flex justify-content-center">
                                            <form asp-action="Delete" asp-route-id="@config.Id" method="post" id="form_@config.Id" onsubmit="sendFormDelete(event, @config.Id)">
                                                @Html.AntiForgeryToken()
                                                <button type="submit">
                                                    <i class="fa-solid fa-trash fa-2xl" style="color: #827e7e;"></i>
                                                </button>

                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    break;
            }
            @* <!-- Modal --> *@
            <div class="modal fade" id="create_@rol.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@rol.Nombre</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Asignar permiso al rol: @rol.Nombre</h6>
                            <form asp-controller="Configuracion" asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="@Model.Configuracion.Id_rol" class="form-control" value="@rol.Id" type="hidden" />

                                </div>
                                <div id="contenedorSelect">
                                    <label class="control-label">Nombre Permiso</label>
                                    @if (rol.Id == 01)
                                    {
                                        <select asp-for="@Model.Configuracion.Id_permiso" style="width: 50%" id="selectPermisos_@rol.Id" asp-items="ViewBag.PermisosNoAsociadosAdmin"></select>
                                    }
                                    else if (rol.Id == 02)
                                    {
                                        <select asp-for="@Model.Configuracion.Id_permiso" style="width: 50%" id="selectPermisos_@rol.Id" asp-items="ViewBag.PermisosNoAsociadosUser"></select>
                                    }
                                    else
                                    {
                                        <select asp-for="@Model.Configuracion.Id_permiso" style="width: 50%" id="selectPermisos_@rol.Id" asp-items="ViewBag.PermisosNoAsociadosAlfa"></select>
                                    }
                                </div>
                                <div class="form-group">

                                    <input asp-for="@Model.Configuracion.Estado" class="form-control" value="ACTIVO" type="hidden" />
                                    <span asp-validation-for="@Model.Configuracion.Estado" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-2">
                                    <button class="button" type="submit">registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        }





        @{
            var descargaFinalizada = TempData["descargaFinalizada"] as bool?;
        }

        @if (descargaFinalizada.HasValue && descargaFinalizada.Value)
        {
            <script>
                console.log("Va a ver el mensaje");
            </script>
        }
        else
        {
            <script>
                console.log("No va a ver el mensaje");
            </script>
        }

        @section Scripts {




            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                //var Mensaje = TempData["Mensaje"] as string;
                //if (Mensaje != null)
                //{
                //    var mensaje = Newtonsoft.Json.JsonConvert.DeserializeObject<ResponseModel>(Mensaje);
                //    <script>
                //        const cuerpo = `@Html.Raw(Newtonsoft.Json.JsonConvert.ToString(mensaje.Mensaje))`;
                //        const icono = "@mensaje.Icono";
                //        MostrarMensajeUsuarios(icono, cuerpo);
                //    </script>
                //}
            }

            @* <script src="~/lib/jquery/dist/jquery.js"></script> *@

            <script src="~/js/select2.min.js" asp-append-version="true"></script>
            <script>

                $('.botonAbrirModal').on('click', function () {
                    // Obtiene el índice del botón en el conjunto de botones
                    var index = $(this).data('modal-index');
                    // Construye el id del modal correspondiente
                    var modalId = '#create_' + index;
                    var selectId = '#selectPermisos_' + index;


                    $(modalId).modal('show');
                    // Inicializa el plugin Select2 en el select correspondiente al modal
                    $(selectId).select2({
                        dropdownParent: $(modalId)
                    });

                    // Abre el modal


                });


            </script>
            <script>

                // Simular clic en el tab de administrador al cargar la página
                window.onload = function () {
                    console.log("hola");
                    document.getElementById('admin-tab-link').click();
                };
                // Manejador de eventos para los enlaces de navegación
                document.getElementById('admin-tab-link').addEventListener('click', function () {
                    showContent('admin-content');
                });
                document.getElementById('user-tab').addEventListener('click', function () {
                    showContent('user-content');
                });
                document.getElementById('alfa-tab').addEventListener('click', function () {
                    showContent('alfa-content');
                });

                // Función para mostrar el contenido deseado y ocultar el resto
                function showContent(contentId) {
                    var contents = document.getElementsByClassName('content');
                    for (var i = 0; i < contents.length; i++) {
                        contents[i].style.display = 'none';
                    }
                    document.getElementById(contentId).style.display = 'block';
                }
            </script>


        }







